<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        li{
            line-height: 48px;
            list-style-type: none;
            float: left;
            justify-content: space-around;
            display: flex;
            flex-wrap: wrap
        }

        a{
            display: block;
            text-decoration: none;
            color: #777777;
            font-size: 18px;
            padding: 0 39px;
        }

        .li:hover{
            background-color: #3F3F3F;
            color: #E8E7E3;
        }

        a :hover{
            color: blue;
        }

        #box1{
            width: 100%;
            background-color: lightblue;
            float: left;
            color: white;
        }

        *{
          padding-top: 0px !important;
        }

    </style>
</head>

<body>
    <!-- create the structure-->
        <div>
            <li>
                <a class="li" href="https://bulma.io/"><strong>BULMA</strong></a>
            </li>
        
            <li>
                <a class="li" href="/">Home</a>
            </li>
        
            <li>
                <a class="li" href="/vistor/search">Search</a>
            </li>

            <li style="float: right !important;">
                <a class = "li" href="/user/login">Login</a>
            </li>
        </div>

        <div id="box1">
            <h1><strong style="color: white; font-size: 30px;">Digital Rights Management System</strong></h1>
            <h6>Digital Rights Management System incorporates blockchain technology to maintain users' copyrights. All information will be stored on the blockchain and will be traceable and tamper-evident.</h6>
        </div>

        <section class="section" style="float: left;">
            <div class="container" style=" justify-content: space-around; flex-wrap: wrap; float: left;">
        
                    <% persons.forEach( function(person) { %>                           
                                   
                                <div class="is-half-mobile" style="background-color: lightgrey; margin-top: 30px;">
                                    <image class="is-square" style="width: 300px; height: 300px; float: left; object-fit: fill;"
                                src="<%=person.url%>" />

                                <div style=" margin-left: 20px; float: left; overflow: hidden; text-overflow: ellipsis;">
                                    <p><strong style="font-style: italic;">Product Name: <%=person.name%></strong> </p>
                                    <br>
                                    <p>Date: <%=person.date%></p>
                                    <p>Time: <%=person.st%> - <%=person.st%></p>   
                                    
                                    <p> Place of Origin: <%=person.venue%></p>   
                                    
                                    <p>Maker: <%=person.organizer%> </p>   
                                    <p>Product Code: <%=person.quota%></p>
                                    
                                    <p>Short Description: <%=person.sd%></p>   
                                    <p>Long Description: <%=person.ld%></p>                         
                                    
                                </div>
   
                                                   
                        <% }); %>
        
            </div>
        </section>

        


</body>
</html>
